<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body style=" border: 10px solid rgb(7, 235, 252);">
  <form method="POST" class="post-form" action="/emp" enctype="multipart/form-data" >
    {% csrf_token %}
    <div  " class="container">
      <br>
      <div class="form-group row">
        <label class="label label-info"></label>
        <div style="text-align:center" class="col-sm-4">
          <h3 s>Enter Details</h3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Image:</label>
        <div class="col-sm-4">
          {{form.profile_pic}}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Employee Id:</label>
        <div class="col-sm-4">
          {{ form.eid }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Indian: </label>
        <div class="col-sm-4">
          {{ form.nationality }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Employee Salary:</label>
        <div class="col-sm-4" style="box-sizing: inherit;">
          {{ form.salary }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Experience:</label>
        <div class="col-sm-4">
          {{ form.experience }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Name:</label>
        <div class="col-sm-4">
          {{ form.ename }}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Email:</label>
        <div class="col-sm-4">
          {{ form.eemail }}
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Contact:</label>
        <div class="col-sm-4">
          {{ form.econtact }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Category:</label>
        <div class="col-sm-4">
          {{ form.category }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee DOB:</label>
        <div class="col-sm-4">
          <input type="date" name="dob" id="id_dob" value="{{employee.dob}} ">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee address:</label>
        <div class="col-sm-4">
          {{ form.address }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Gender:</label>
        <div class="col-sm-4">
          {{ form.checkgender }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</body>

</html>